 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pexels-rostislav-uzunov-5011647.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  line-height: 0.8;
  text-shadow: 5px 5px 6px rgba(65,128,124,0.4);
  animation-duration: 1250ms;
  width: 713px;
  margin: 345px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 525px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 525px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  width: 598px;
  min-height: 43px;
  margin: 23px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1250ms;
  margin: 0 177px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1250ms;
  margin: -42px auto 0 134px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -42px 0 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1250ms;
  transition-duration: 0.5s;
  margin: -41px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-text-3 {
    margin-top: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 119px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

.u-section-1 .u-btn-4,
.u-container-layout .u-section-1 .u-btn-4 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-4:hover,
.u-section-1 .u-container-layout:hover .u-btn-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}